<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="card-header text-center">
          {{plan}}
        </div>
        <div class="card-body text-center">
          <p class="card-title display-6 fw-normal">${{price}}<small class="fw-light text-body-secondary">/mo</small></p>
          <p class="card-text">10 users included</p>
          <p class="card-text">2 GB of storage</p>
          <p class="card-text">Email support</p>
          <p class="card-text">Help center access</p>
          <a href="#" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</a>
        </div>
    </div>
</body>
</html>
